#main-container {
	padding:0;
}
.navbar {
	margin-bottom: 0;
	background: black;
	border-radius: 0;
	border:none;
}
#map-canvas {
  height: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	background-color:#292929;
	background-image: 
		linear-gradient(rgba(255,255,255,.02) 1px, transparent 1px), 
		linear-gradient(90deg, rgba(255,255,255,.02) 1px, transparent 1px);
	background-size:36px 36px;
	background-position:-1px -1px;
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar-default .navbar-brand {
	color: #fff;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 14px;
}

.navbar-brand h1 {
	padding:0;
	margin:0;
	margin-left: 5px;
	font-size: 1.5em;
	color: #fff;
	letter-spacing: 1px;
	text-transform: capitalize;
	float: left;
	font-weight: 400;
}

.input-group {
	width: 100%;
}

.input-group input {
	border:none;
	width: 100%;
	border-radius: 0;
	padding:10px;
}

h1 a {
	color: #fff;
}

#arrivals {
	position: absolute;
	top:36px;
	left:36px;
	width: 323px;
	overflow: hidden;
	/*box-shadow: 0 0px 2px 0px #000;*/
	border-radius: 0px;
	opacity: 0.95;
}
#arrivalList {
	max-height: 347px;
	overflow-y: scroll;
}

#arrivals h1 {
	margin:0;
	padding:15px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	background-color: #212121;
}
#arrivals h1 small {
	text-transform: capitalize;
}

.nav-justified {
	border-bottom: #1d1d1d solid 1px;
	border-top:#1d1d1d solid 1px;
	background-color: #1d1d1d;
}
.nav-justified li a {
	padding:6px 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	border-radius: 0;
	border-left:#1d1d1d solid 1px;
}
.nav-justified li:first-child a {
	border-left:none;
}
.nav>li>a:focus, .nav>li>a:hover, .nav-justified li.active a {
	background-color: #1d1d1d !important;
}

p.filter-text {
	margin: 0;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    color: #777;
}

.list-group {
	margin:0;
}

.list-group-item {
	border-radius: 0 !important;
	color: #555;
	border:none;
	margin:0;
	margin-bottom:1px;
	padding:15px;
	opacity: 1;
	font-size: 13px;
	background: transparent;
	background-color: #212121;
	/*border-left:#222 solid 1px;*/
}
.list-group-item:last-child {
	border:none;
}
.list-group-item .badge {
	color:#fff;
}
.list-group-item:nth-of-type(odd) {
    /*background: #252525;*/
}
.list-group-item .badge {
	background: none;
}

.bakerloo {border-left-color:#AE6118 !important;}
.central {border-left-color:#E41F1F !important;}
.circle {border-left-color:#F8D42D !important;}
.district {border-left-color:#007229 !important;}
.hammersmith-city {border-left-color:#E899A8 !important;}
.jubilee {border-left-color:#686E72 !important;}
.metropolitan {border-left-color:#893267 !important;}
.northern {border-left-color:#000 !important;}
.piccadilly {border-left-color:#0450A1 !important;}
.victoria {border-left-color:#009FE0 !important;}
.waterloo-city {border-left-color:#70C3CE !important;}

.tc-bakerloo {color:#AE6118 !important;}
.tc-central {color:#E41F1F !important;}
.tc-circle {color:#F8D42D !important;}
.tc-district {color:#007229 !important;}
.tc-hammersmith-city {color:#E899A8 !important;}
.tc-jubilee {color:#686E72 !important;}
.tc-metropolitan {color:#893267 !important;}
.tc-northern {color:#000 !important;}
.tc-piccadilly {color:#0450A1 !important;}
.tc-victoria {color:#009FE0 !important;}
.tc-waterloo-city {color:#70C3CE !important;}

span.towards {
	color:#777;
	font-size: 14px;
	font-weight: 600;
	display: block;
}
.badge-bull {
	font-size: 1.2em;
}

.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #222;
    text-align: center;
    box-shadow: 0 8px 6px 7px #000;
    opacity: 0.9;
    display: none;
}
.footer p {
	margin:0;
	color: white;
	opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
