<nav class="navbar navbar-inverse navbar-fixed-top" id="stationSearch">
	<div class="input-group">
		<span class="input-group-btn">
			<a href="" data-ng-click="showList('1')" data-ng-hide="listVisible || searchTerm">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</a>
			<a href="" data-ng-click="showList('0')" data-ng-show="listVisible || searchTerm">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
		</span>
		<input type="text" data-ng-model="searchTerm" placeholder="Station Name">
	</div>
</nav>
<div id="tubeStations" data-ng-show="listVisible || searchTerm">
	<ul>
        <li data-ng-repeat="station in stationList | filter:searchTerm" class="animated slideInDown">
        	<a href="#/{{station.id}}/">{{station.name}}</a>
        </li>
    </ul>
</div>
<div class="container" id="index">
	<div class="row">
		<div class="col-md-12" style="padding:0">
			<div class="animated fadeIn" id="about">
				<!--h1><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></h1-->
				<!--img src="images/logo.png" id="logo-big"-->
				<h2>
					An <strong>interactive</strong> 'Live Tube Map' made with <strong>AngularJS</strong>, Google maps and Powered by TfL <strong>Open Data</strong>. To put simply, <strong>tube</strong> data is requested, analysed, coordinates calculated, then marked on a <strong>Google map</strong>. Every <strong>50</strong>s the data updates and the markers <strong>animate!</strong><br><br>To get started, search for a station above or try your luck with... <a href="#/{{luck.id}}/" class="animated tada">{{luck.name}}</a>! This is a work in progress but if you're looking for a <strong>developer</strong> with an eye for <strong>design</strong> or have any questions, say <a href="mailto:hello@tubemapp.co.uk">hello@tubemapp.co.uk</a>
				</h2>
				<!--h3>// Why?</h3>
				<p>I made this primarily to learn AngularJS and work with live data. Being a Londoner, and a tube user, this seemed an ideal project. It's something I work on in my spare time so don't expect perfection!</p>
				<h3>// How To</h3>
				<p>Find a station using the search bar above. You'll see a map centred on your location with markers best representing any trains heading your way. The page will auto update every 50 seconds but you can force an update by starting and stopping the countdown timer. Note: The arrivals board only shows trains that are relatively close by.</p>
				<h3>// Accuracy</h3>
				<p>What you'll see on the map is as accurate as the data coming in, which at times, is erratic. Some coordinates are perfect, others, a best guess. You may notice anomalies, especially around the Liverpool street area where strange things occur! This is bad data!</p>
				<h3>// Tips!</h3>
				<p>The map attempts to hide irrelevant trains and only show those heading your way. I did this purposely for visual clarity. If you want to follow the progress of your train or get a bigger picture, try choosing a trains destination rather than your location, you'll see a trains progress until termination.</p>
				<h3>// Further Development</h3>
				<p>There is plenty of scope for improvement and development. I could start catching and correcting some of the data anomalies or utilise more of the tfl data that's available to give a more comprehensive picture. In time I may well do this but for the moment, enjoy! &copy; 2015</p-->
			</div>
		</div>
	</div>
</div>