<div id="index">
	<nav class="navbar navbar-inverse" id="navMenu">
		<div class="container-fluid" style="padding:0">
		    <div class="navbar-header">
		      	<ul class="nav nav-pills" id="navTabs">
					<!--li>
						<a href="#/" id="logo">
							re:
						</a>
					</li-->
					<li>
						<a href="" data-ng-click="binaryToggle('sc')">
							<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
						</a>
					</li>
				</ul>
		    </div>
		</div>
	</nav>
	<div id="about">
		<h1 id="logo" class="animated fadeIn">re:</h1>
		<h2 class="animated fadeIn">
			A '<strong>Live Tube Map</strong>' made with <strong>AngularJS</strong>, Transport for <strong>London</strong> api and <strong>Google</strong> maps. Tube data is retrieved, analysed, converted to geographic <strong>coordinates</strong> and marked on a Google map. When the data updates, the markers <strong>animate</strong>!<br><br>If you're looking for a web developer with an eye for design or have any questions, feel free to <a href="#">Get in touch</a> <strong>:]</strong>
		</h2>
	</div>
	<div id="stationContainer" class="animated slideInLeft" data-ng-show="stationContainer">
		<div class="input-group" id="stationSearch">
			<span class="input-group-btn">
				<span class="glyphicon glyphicon-search" aria-hidden="true" style="color:#fff"></span>
			</span>
			<input type="text" data-ng-model="search" placeholder="Filter">
		</div>
		<ul id="stationList">
	        <li data-ng-repeat="station in stationList | filter:search" class="animated slideInUp">
	        	<a href="#/{{station.id}}/">{{station.name}}</a>
	        </li>
	    </ul>
	</div>
</div>