<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		  	<a class="navbar-brand" href="#">{{station.name}}</a>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		    <ol class="list-group">
		    	<li class="list-group-item" data-ng-repeat="train in arrivals | orderBy:'-timeToStation':true">
		    		<span class="badge">{{train.timeToStation}}</span>
		    		{{$index}} - {{train.naptanId.substring(8)}}<sup>{{train.vehicleId}}</sup>
		    		{{train.stationName.split(' Underground')[0]}}
		    		<br />
		    		<small>
		    			{{train.platformName.split(' ')[0]}}
		    			- {{train.currentLocation}}
		    			- {{train.direction}}
		    		</small>
		    	</li>
		    </ol>
		</div>
		<div class="col-md-9">
		    <google-map lat="station.lat" lon="station.lon">
		    	<google-marker lat="station.lat" lon="station.lon" info="'Center'"></google-marker>
		    	<google-marker data-ng-repeat="marker in markers" lat="marker.coords.lat" lon="marker.coords.lon" info="marker.currentLocation"></google-marker>
		    </google-map>
		</div>
	</div>
</div>