<nav class="navbar navbar-inverse" id="header">
	<div class="container-fluid">
		<span class="navbar-right" id="rajinho">#166</span>
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Tube Mapp</a>
		</div>
	</div>
</nav>
<div class="container-fluid" id="mainContainer">
	<div class="row-fluid">
		<div class="col-md-12" id="mapColumn">
			<google-map center="station">
				<google-path data-ng-repeat="path in paths" data="path"></google-path>
				<google-marker icon="'center'" data="station"></google-marker>
				<google-marker data-ng-repeat="train in trains" icon="'train'" data="train" timestamp="timestamp" last="$last" station="stationId" filter="lineFilter.lineId"></google-marker>
			</google-map>
		</div>
	</div>
</div>
<div id="arrivals">
	<div class="input-group" id="stationSearch">
  		<input type="text" data-ng-model="search" placeholder="Station Search">
		<span class="input-group-btn">
			<a data-ng-click="search=null" href="">
				<span data-ng-show="!search" class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</a>
			<a data-ng-click="search=null" href="" data-ng-show="search">
				<span data-ng-show="search" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
		</span>
	</div>
	<ul data-ng-show="(filteredData = (stationList | filter:search)) && search" id="stationList">
        <li data-ng-repeat="station in filteredData">
        	<a href="#/{{station.id}}/">{{station.name}}</a>
        </li>
    </ul>
	<h1>
		<a href="" data-ng-click="go()">{{station.name}}</a>
	</h1>
	<ul class="nav nav-pills nav-justified" id="arrivalTabs">
		<li data-ng-repeat="(key, value) in station.line" data-ng-class="{active: $index === activeTab}">
			<a href="" data-ng-click="lineFilter.set(key, $index)" class="tc-{{key}}">{{key.substring(0,2)}}</a>
		</li>
	</ul>
	<div class="list-group" id="arrivalList">
    	<a href="" class="list-group-item" data-ng-click="popInfo(arrival)" data-ng-repeat="arrival in arrivals | orderBy:'-timeToStation':true | filter:lineFilter" ng-if="arrival.naptanId === '940GZZLU'+stationId">
    		<span class="badge">
    			{{arrival.timeToStation | convertTime}}
    			<span class="tc-{{arrival.lineId}}" style="font-size:2em;">&middot;</span>
    		</span>
    		<span class="towards">{{arrival.towards}}</span>
    		<small>{{arrival.currentLocation}}</small>
    	</a>
    </div>
</div>